<p id="notice"><%= notice %></p>

<p>
  <b>Before:</b>
  <%= @tyokyo.before %>
</p>

<p>
  <b>After:</b>
  <%= @tyokyo.after %>
</p>


<%= link_to 'Edit', edit_tyokyo_path(@tyokyo) %> |
<%= link_to 'Back', tyokyos_path %>
